<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="background-color: rgba(34, 4, 4, 0.373); margin: 10px; border-radius: 5px; padding: 5px">
      HOME
    </h1>
  </body>
</html>
